:root {
  --blue: #1e90ff;
  --red2: #780618;
  --red: #e92a41;
  --yellow: #ffa218;
  --orange: #f86d31;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: BreeSerif;
  src: url("/fonts/BreeSerif-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/RobotoSlab-Regular.ttf")
    format("truetype");
}

body {
  background: #f6d2d6;
  font-family: Roboto;
  color: white;
  /*animation: viewtransition-entrada 2s ease;*/
}


@keyframes viewtransition-entrada {
  from {
    clip-path: circle(0% at 50% 0);
  }
  to {
    clip-path: circle(100% at 50% 0);
  }
}

.clip-transition {
  animation: viewtransition-salida 1s ease;
  animation-fill-mode: forwards;
}

@keyframes viewtransition-salida {
  from {
    clip-path: circle(100% at 50% 0);
  }
  to {
    clip-path: circle(0% at 50% 0);
  }
}

.navegacion-above {
  display: flex;
  width: 100%;
  height: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  z-index: 9999999999999;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  opacity: 1;

  & .logo {
    position: relative;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3293d;
    border-radius: 0 0 10px 10px;
    left: 10px;
    bottom: 100px;
    pointer-events: auto;
    animation: from-above 1s linear;
    animation-timeline: scroll();
    animation-range: 0% 10%;
    animation-fill-mode: both;
    opacity: 0.7;
    transition: .5s ease;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);

    &:hover {
      opacity: 1;
      box-shadow: 2px 2px 10px rgb(0 0 0 / 25%);
    }

    & img {
      height: 80%;
    }
  }
}

@keyframes from-above {
  0% {

  }
  100% {
    bottom: 0;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  left: 80px;
  bottom: 100px;
  overflow: hidden;
  gap: 2px;
  z-index: -1;
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s ease;
  animation: from-above 1s linear;
  animation-range: 0% 10%;
  animation-timeline: scroll();
  animation-fill-mode: both;
  
  & span {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    opacity: 1;
    background-color: #e92a41;
    bottom: 0;
  }
}

.activo {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 3vw 3vw;
  z-index: 9;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenedor-logo {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1vw;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  z-index: 9;

  & span {
    position: relative;
    height: 5vw;


    & img {
      height: 100%;
      user-select: none;
    }

    &::before {
      content: "";
      width: 1.5%;
      height: 37%;
      background-color: #232323;
      position: absolute;
      bottom: 13.5%;
      left: 8%;
      z-index: 9;
      animation: square1 4s ease infinite;
    }

    &::after {
      content: "";
      width: 1.5%;
      height: 37%;
      background-color: #232323;
      position: absolute;
      top: 11.5%;
      right: 13%;
      z-index: 9;
      animation: square2 4s ease infinite;
    }
  }
}

.dropdownmenu ul,
.dropdownmenu li {
  padding: 0;
}
.dropdownmenu ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.5vw;
}
.dropdownmenu li {
  float: left;
  position: relative;
  width: auto;
}
.dropdownmenu a {
  color: white;
  display: block;
  font: 900 1vw roboto;
  padding: 0.5vw 1vw;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.dropdownmenu li:hover a {
  background: white;
  color: var(--red);
  border-radius: 50px;
}
#submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}
li:hover ul#submenu {
  opacity: 1;
  top: 30px;
  visibility: visible;
}
#submenu li {
  float: none;
  width: 100%;
}

#submenu a {
  background-color: yellow;
}

#submenu a:hover {
  background: #e92a41;
  color: white;
}

@keyframes square1 {
  0% {
    
  }

  50% {
    left: 23%;
  }

  100% {
    
  }
}

@keyframes square2 {
  0% {
    
  }

  50% {
    right: 28%;
  }

  100% {
    
  }
}

.container-objeto3d {
  display: flex;
  justify-content: center;
  align-items: center;
}

.objeto3d {
  width: 500px;
  height: 500px;
}

.container-widgets {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: none;
  opacity: 1;
  z-index: 999;
  pointer-events: none;
}

.widget-navegacion {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  font: 300 16px Roboto;
  background: #cd1c38;
  box-shadow: 4px 4px 15px  rgba(0, 0, 0, 0.43);
  position: absolute;
  bottom: 20px;
  right: 25px;
  pointer-events: auto;
  transition: .2s ease;
  z-index: 999999;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;
}

#navegacion {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  height: fit-content;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#navegacionsimbolo {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
}

.flotar:hover{
  transform: translateY(-10%);
}

.contenido {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido a {
  color: white;
  text-decoration: none;
}

.contenido li {
  margin: 5px;
  text-align: center;
  width: fit-content;
  background: var(--red);
  border-radius: 10px;
  box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.23);
  transition: .2s ease;
  padding: 5px;
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
}

.contenido li:hover {
  transform: translateY(-5%);
}

.contenido li:active {
  scale: .9;
}

.widget-referencias {
  width: 250px;
  height: 100%;
  background: #cd1c38;
  position: absolute;
  left: -250px;
  display: flex;
  pointer-events: auto;
  flex-direction: column;
  align-items: center;
  transition: .2s ease;
  z-index: 9;
}

.widget-referencias:before {
  content: "Referencias";
  width: 40px;
  height: 120px;
  background: #cd1c38;
  position: absolute;
  bottom: 0px;
  right: -40px;
  font-family: Roboto;
  font-size: 16px;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
  cursor: pointer;
}

.widget-referencias:hover:before {
  scale: 1.1;
}

.referencia {
  width: 200px;
  height: fit-content;
  padding: 10px;
  color: white;
  background: var(--red);
  position: relative;
  pointer-events: auto;
  border-radius: 20px;
  margin-top: 20px;
  
}

.container-widget-hitos {
  width: 100%;
  height: 300px;
  pointer-events: auto;
  position: absolute;
  bottom: -250px;
  transition: .2s ease;
  pointer-events: none;
  z-index: 99;
}

.inner {
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  transition: .5s ease;
}

.widget-hitos-cerrar {
  width: 100px;
  height: 80px;
  background: #cd1c38;
  pointer-events: auto;
  border-radius: 25px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 20px;
  transition: .2s ease;
  pointer-events: auto;
  
  &:hover {
    margin-top: -5px;
  }
}

.widget-hitos {
  width: 100%;
  height: 250px;
  background: #cd1c38;
  pointer-events: auto;
  bottom: 0px;
  list-style: none;
  margin: 0;
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  transition: .5s ease;
  box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
}

.hitos1 {
  background: #e11d3c;
  width: 225px;
  height: 100%;
  border-right: 1px solid #ff2c4d;
  font-size: 12px;
  position: relative;
  transition: .5s ease;
  user-select: none;
  cursor: grab;
  
  & h1 {
    padding: 5px;
    margin: 0;
  }
  
  & p {
    padding: 5px;
  }
  
  &:active {
    cursor: grabbing;
  }
  
  & span {
    text-align: center;
    width: 100%;
    display: block;
    background: #b31b33;
    padding: 2px;
    font-size: 16px;
  }
  
  & img {
    width: 55%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  &:hover {
    background: #cb1935;
  }
}

.hitos2 {
  background: #e11d3c;
  width: 225px;
  height: 100%;
  border-right: 1px solid #ff2c4d;
  transition: .5s ease;
  user-select: none;
  cursor: grab;
  
  & h1 {
    padding: 5px;
    margin: 0;
  }
  
  & p {
    padding: 5px;
  }
  
  & span {
    text-align: center;
    width: 100%;
    display: block;
    background: #9b1e31;
    padding: 2px;
  }
  
   & img {
    width: 55%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  &:active {
    cursor: grabbing;
  }
  
  &:hover {
    background: #cb1935;
    
  }
}

.mapa-interactivo {
  width: 100%;
  background: black;
  height: 100%;
  pointer-events: auto;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
  transition: 0.8s ease;
}

.widget-mapa {
  width: 130px;
  height: 130px;
  background: var(--red);
  z-index: 999;
  position: absolute;
  right: 35px;
  bottom: 90px;
  border-radius: 100px;
  z-index: 2;
  scale: 0.7;
  cursor: pointer;
  transition: .2s ease;
  pointer-events: auto;
  
  &:hover {
    scale: 0.8;
  }
  
  & img {
    height: 100%;
  }
}

.timeline-interactivo {
  height: 100%;
  width: 100%;
  background: black;
  pointer-events: auto;
  position: absolute;
  top: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: 1s ease;
  box-shadow: 10px 15px 45px rgba(0, 0, 0, 0.83);
  
}

.widget-timeline {
  width: 150px;
  height: 150px;
  background: #cd1c38;
  z-index: 999;
  position: absolute;
  right: 25px;
  bottom: 80px;
  border-radius: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: .2s ease;
  cursor: pointer;
  box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
  pointer-events: auto;
  
  &:hover {
    scale: 1.1;
  }
  
  & svg {
    fill: white;
    margin: 8%;
    scale: 1.2;
    background: #cd1c38;
  }
}

.widget-timeline:before {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 100px;
  border: 2px dashed white;
  transition: .2s ease;
  opacity: 0.3;
  scale: 0.8;
  animation: girar 10s linear infinite;
  animation-play-state: paused;
  pointer-events: auto;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

.widget-timeline:hover::before{
  animation-play-state: running;
  opacity: 1;
}

.widget-glosario {
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  background: #cd1c38;
  bottom: -500px;
  left: 65px;
  box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 10px 15px 45px -21px rgba(0, 0, 0, 0.83);
  pointer-events: auto;
  font-family: roboto slab;
  color: white;
  padding: 25px 25px 25px 35px;
  transition: .5s ease;
  z-index: 99999999999999;
  
  & h1 {
    font-size: 25px;
  }
  
  & p {
    font-size: 14px;
    width: 500px;
  }
}

.widget-glosario-img {
  width: 500px;
  object-fit: cover;
  

  & img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }
}

.concepto-cerrar {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: var(--red);
  color: white;
  font: 600 25px roboto slab;
  top: 15px;
  right: 20px;
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
  z-index: 9999999;
  
  &:hover {
    scale: 1.1;
  }
}

.concepto-atras {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: var(--red);
  color: white;
  font: 600 25px roboto slab;
  top: 15px;
  right: 20px;
  pointer-events: auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
  z-index: 99999999;
  
  &:hover {
    scale: 1.1;
  }
}

.marcado {
  background: white;
  color: var(--red);
  text-decoration: underline;
  transition: .5s ease;
  
}

.marcado:hover {
  background: #cd1c38;
  color: white;
  text-decoration: underline;
  cursor: help;
  
}

.marcado-concepto {
  width: 300px;
  height: 150px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: -400px;
  pointer-events: none;
  clip-path: circle(0% at 50% 0);
  transition: .8s ease;
}

.card-img {
  width: 300px;
  height: 175px;
  border-radius: 30px;
  transition: .2s ease;
}

.concepto {
  cursor: pointer;
  user-select: none;
  background: none;
  position: relative;
  color: white;
  font-weight: 600;
  z-index: 1;

  &:hover {
    color: var(--red)
  }
}

.concepto:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 15%;
  background: white;
  transition: .2s ease;
  z-index: -1;
}

.concepto:hover:before {
  bottom: 0%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.widget-card-pais {
	background: #99182d;
	width: 300px;
	height: 450px;
  border-radius: 50px;
	position: absolute;
	bottom: -500px;
  left: 60px;
	display: block;
	animation: show-up 1s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
    -webkit-box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
    -moz-box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
  overflow: hidden;
  color: white;
  font: 300 15px Roboto Slab;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  pointer-events: auto;
  transition: all .5s ease, height .2s;
  
  &:hover {
    height: 500px;
  }
  
  & h1 {
    text-align: center;
    margin: 0;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  & h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  & p {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
}

.card:hover {
  height: 500px;
}

.card-img:hover {
  height: 200px;
}

.card-bandera {
  position: absolute;
  width: 300px;
  height: 175px;
  border-radius: 30px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .2s ease;
}

.card-button {
  width: 100px;
  height: 50px;
  transition: 0.2s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:hover {
    box-shadow: 1px 1px 26px -5px rgba(0,0,0,0.30) inset;
    -webkit-box-shadow: 1px 1px 26px -5px rgba(0,0,0,0.30) inset;
    -moz-box-shadow: 1px 1px 26px -5px rgba(0,0,0,0.30) inset;
    
  }
  
  &:active {
    scale: 0.9;
  }
}

.card-button-img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
    opacity: 0.4;
    transition: .2s ease;
  }


.card-button:before {
    content: "";
    background: #b91a34;
    position: absolute;
    top: 10%;
    right: 0;
    height: 40px;
    width: 1px;
  }

.card-menu-bar {
  display: flex;
  width: 100%;
  height: 50px;
  background: #7b1324;
  position: absolute;
  bottom: 0;
  transform: translateZ(30px);
}

.widget-personaje-historico {
  width: 100%;
  height: 100%;
  width: 315px;
	height: 420px;
  position: absolute;
  bottom: -500px;
  border-radius: 50px;
  left: 60px;
  transition: .5s ease;
  cursor: pointer;
}

.container-perspectiva {
  perspective: 125px;
  width: 300px;
	height: 400px;
  border-radius: 50px;
  left: 60px;
  transition: .5s ease;
  cursor: pointer;
}

.widget-card-personaje {
	background: #99182d;
  z-index: 0;
	width: 300px;
	height: 400px;
  border-radius: 50px;
	position: absolute;
  opacity: 0;
	bottom: 0px;
  left: 0px;
	display: block;
	animation: show-up 1s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
    -webkit-box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
    -moz-box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
  overflow: visible;
  color: white;
  font: 300 15px Roboto Slab;
  pointer-events: auto;
  outline: 0px solid white;
  transition: transform .5s ease;
  
  &:hover {
    background: #cd1c38;
    transform: rotateX(5deg) rotateY(0deg) translateY(-5%);
    transform-style: preserve-3d;
  }
}

.widget-card-personaje:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #99182d;
  position: absolute;
  top: 0;
  border-radius: 50px;
  z-index: -1;
  transition: all .5s ease;
}

.card-dorada {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 52px;
  width: 100%;
  height: 100%;
  background: white;
  transition: .5s ease;
  z-index: -1;
  scale: 1.05;
  filter: blur(10px);
}

@keyframes card {
  0% {
    background-position: 0% 0%; 
  }
  50% {
    background: 10% 0%;
  }
}

.gradient-background {
  background: linear-gradient(133deg,#603512,#c89629,#faf290,#c89629,#603512, #603512,#c89629,#faf290,#c89629,#603512, #603512,#c89629,#faf290,#c89629,#603512);
  background-size: 400% 400%;
  animation: gradient-animation 15s linear infinite;
}



.card-texto {
  width: 85%;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  z-index: 1;
}

.card-container-img {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: .5s ease;
  border-radius: 50px 50px 50px 50px;
  z-index: 1;
}

.fondo-personaje {
  height: 100%;
}

.personaje-historico {
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  opacity: 1;
  filter: drop-shadow(2px 2px 10px #000000);
  transition: .5s ease;
  z-index: 1;
  
  & img {
    height: 100%;
  }
}

.container-titulo-personaje {
  position: absolute;
  transform: rotateX(0deg) rotateY(0deg) translateY(0);
  transition: .2s ease;
  text-shadow: 4px 4px 11px rgba(0,0,0,0.6);
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  justify-content: center;
  bottom: 10px;
  opacity: 1;
}

.titulo-personaje {
  font-size: 3rem;
  width: min-content;
  
  text-align: center;
  transition: .5s ease;
  text-shadow: 5px 5px 10px rgba(0,0,0,1);
}

.sobre-carta-roma {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://cdn.glitch.global/9a357997-c721-4619-8b51-c5bb42844312/889693ce-907d-480f-ac32-17ae063a73dd.image.png?v=1711949981710"); 
  z-index: 99999999;
  transition: .2s ease;
  animation: blur-out-expand 0.4s linear both;
  animation-play-state: paused;
  scale: 1.05;
  -webkit-box-shadow: inset 1px 1px 12px 1px #000000; 
  box-shadow: inset 1px 1px 20px 15px rgb(163 163 163 / 50%);
  clip-path: polygon(2% 10%, 1% 5%, 0 0, 100% 0, 99% 5%, 98% 10%, 98% 90%, 99% 95%, 100% 100%, 0 100%, 1% 95%, 2% 90%);
  pointer-events: auto;
  
  & h1 {
    position: absolute;
    bottom: 20px;
    color: #ffcf00;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-size: 40px;
            -webkit-text-stroke-width: 0px;
            -webkit-text-stroke-color: var(--red2);
    user-select: none;
  }
  
  & img {
    position: absolute;
    bottom: 75px;
    left: 25%;
    width: 150px;
    filter: drop-shadow(5px 5px 15px #000000);
    padding: 10px;
    user-select: none;
  }
  
  &:hover {
    scale: 1.1;
    
  }
  
  &.go-left {
    transform: translateX(-150%) rotate(-30deg) !important;
    opacity: 0
  }

  &.go-right {
    transform: translateY(200%) translateX(100%) !important;
    opacity: 0
  }

  &.go-left,
  &.go-right {
    transition: transform .5s ease, rotate .8s ease, opacity .3s ease;
  }

  &.reset {
    transition: transform .3s ease;
    transform: translateX(0) !important;
  }
}



.sobre-carta-roma:before {
  content: "";
  width: 100%;
  height: 20px;
  border-bottom: 5px dashed #000000;
  border-top: 10px solid #000000;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  box-shadow: 1px 5px 20px 15px rgb(55 55 55);
}

.sobre-carta-roma:after {
  content: "";
  width: 100%;
  height: 20px;
  border-top: 5px dashed #000000;
  border-bottom: 10px solid #000000;
  opacity: 0.2;
  position: absolute;
  bottom: 0px;
  box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
    -webkit-box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
    -moz-box-shadow: 15px 16px 54px -14px rgba(0,0,0,0.51);
}


.blur-out-expand {
  animation:blur-out-expand 0.4s linear both
}

@keyframes blur-out-expand {
  0%{
    transform:scale(1);
    filter:blur(.01px);
  } 
  100%{
    transform:scale(2);
    filter:blur(12px);
    opacity:0}
}

.container-perspectiva:hover .personaje-historico {
  bottom: 0px;
  opacity: 1;
  height: 500px;
}

.container-perspectiva:hover .container-titulo-personaje {
  transform: translateY(-60%);
  text-shadow: 4px 4px 11px rgba(0,0,0,0.6);
  opacity: 1;
}

.container-perspectiva:hover .card-dorada {
  opacity: 1;
}

.transicion {
  transition: background .5s ease;
}

.container {
  width: 300px;
  height: 400px;
  position: relative;  
  perspective: 800px;
  border-radius: 4px;
}

.carta {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 50px;
  cursor: pointer;
}

.carta div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
  font-family: Roboto;
  color: white;
}



.flipped {
    transform: rotateY(180deg);
}

.back {
  transform: rotateY(180deg);
  background: #99182d;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  
  & img {
    height: 150px;
    width: 100%;
    position: relative;
    top: 0;
    border-radius: 50px 50px 0px 0px;
  }
  
  & p {
    font-size: 14px;
    margin-top: 10px;
    width: 90%;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0,0,0,1);
    z-index: 1;
  }
}

.back:before{
  content: "";
  width: 100%;
  height: 100%;
  background: #c45222;
  position: absolute;
  top: 0;
  border-radius: 50px;
  z-index: 0;
}

.carta-personalidad {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 30%;
  width: 100%;
  gap: 5px;
  font-weight: bold;

  & span {
    background-color: #c45222;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    transition: .2s ease;
  }
}

.punto-dorado {
  background: linear-gradient(133deg, #b28405, #b28405, #b28405, #b28405, #f9db5c,  #b28405, #b28405, #b28405, #b28405);
  animation: gradient-animation 3s linear infinite;
  background-size: 300% 300%;
  text-shadow: rgb(0 0 0 / 75%) 1px 1px 5px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(133deg, #efb810, #efb810, #efb810, #efb810, #ffff94, #efb810, #efb810, #efb810, #efb810);
    background-size: 300% 300%;
    animation: gradient-animation 3s linear infinite;
    z-index: -1;
    border-radius: 15px;
    scale: 1.05;
    filter: blur(5px);
  }
}

.punto-plata{
  background: linear-gradient(133deg,#525151, #525151, #525151, #525151, #a8a8a8, #525151, #525151, #525151, #525151);
  background-size: 300% 300%;
  animation: gradient-animation 4s linear infinite;
  text-shadow: #000000 1px 1px 5px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(133deg,#525151, #525151, #525151, #525151, #a8a8a8, #525151, #525151, #525151, #525151);
    background-size: 300% 300%;
    animation: gradient-animation 4s linear infinite;
    z-index: -1;
    border-radius: 15px;
    scale: 1.2;
    filter: blur(5px);
  }
}

.punto-bronce {
  background: linear-gradient(133deg, #603512,#603512, #603512, #603512, #d37528,  #603512, #603512, #603512, #603512);
  background-size: 300% 300%;
  animation: gradient-animation 5s linear infinite;
  text-shadow: rgb(0 0 0 / 25%) 1px 1px 10px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  
}

.carta-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f86d31;
  margin: 10px;
  width: 280px;
  height: 135px;
  border-radius: 10px;
  z-index: 1;

  & p {
    font-size: 14px;
    margin: 0;
  }
}

.carta-datos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.dato1 { 
  background-color: var(--orange);
  grid-area: 1 / 1 / 2 / 2; 
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #833716;
  }

  & object {
    height: 40px;
  }
}
.dato2 { 
  background-color: var(--orange);
  grid-area: 1 / 2 / 2 / 3; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #833716;
  }

  & object {
    height: 50px;
  }
}
.dato3 { 
  background-color: var(--orange);
  grid-area: 1 / 3 / 2 / 4; 
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #833716;
  }

  & object {
    height: 40px;
  }
}

.riboon {
  fill: white;
}

.dato4 { 
  background-color: #833716;
  grid-area: 2 / 1 / 3 / 4; 
  border-radius: 0 0 100px 100px;
  font-size: 26px;
  font-family: BreeSerif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background: url("https://cdn.glitch.global/9a357997-c721-4619-8b51-c5bb42844312/737d0f51-7cc7-4931-adea-bcacbaaf319b.image.png?v=1711830527263") center;
  transition: .5s ease;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transform-style: preserve-3d;
  z-index: 1;
}

.front-fondo {
  width: 100%;
  height: 100%;
  overflow: hidden;

  & img {
    height: 100%;
  }
}




.widget-personaje-flip .personaje-historico {
  height: 400px;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), height .5s ease;
  overflow-x: clip;
  backface-visibility: hidden;
  user-select: none;
}

.widget-personaje-flip:hover .personaje-historico {
  height: 500px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), height .5s ease;
}

.widget-personaje-flip:hover .front {
  transform: rotateX(0deg) rotateY(0deg) translateY(-5px);
  transform-style: preserve-3d;
}

.widget-personaje-flip {
  width: 300px;
  height: 400px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  pointer-events: auto;
  user-select: none;
}

.widget-personaje-flip .container-titulo-personaje {
  transform: translateY(-20%);
}

.widget-personaje-flip:hover .container-titulo-personaje {
  transform: translateY(0%);
  

  & .carta-epoca {
    opacity: 1;
    transition: 0.5s ease;
  }

  & .sobretitulo {
    opacity: 1;
    transition: 0.5s ease;
  }
}

.sobretitulo {
  opacity: 0;
  transition: .5s ease;
}

.carta-epoca {
  opacity: 0;
  background-color: var(--orange);
  color: white;
  padding: 1%;
  transition: 0.5s ease;
}


.personaje-historico-back {
  height: 225px;
  width: 100%;
  position: absolute;
  bottom: 225px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  padding-right: 0px;
  pointer-events: none;
  filter: drop-shadow(2px 1px 10px #000000);
  backface-visibility: hidden;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  transform: rotateY(-180deg);
}

.container-titulo-personaje-back {
  position: absolute;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-shadow: 4px 4px 10px rgba(0,0,0,0.9);
  z-index: 999999;
  width: 100%;
  display: flex;
  right: 0;
  justify-content: center;
  bottom: 200px;
  opacity: 1;
  pointer-events: none;
  font-size: 20px;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

.container-widget-personaje {
  width: 300px;
  height: 400px;
  position: absolute;
  bottom: -500px;
  left: 70px;
  pointer-events: auto;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.2, 1.2);
}

.widget-ventana {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
  top: 0;
  display: flex;
  clip-path: circle(0%);
  align-items: center;
  justify-content: center;
  transition: 1s ease;
  overflow: hidden;
}



.ventana-cerrar {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: var(--red);
  color: white;
  font: 600 25px roboto slab;
  top: 15px;
  right: 20px;
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
  z-index: 9999999;
  
  &:hover {
    scale: 1.1;
  }
}

.inicio {
  height: 40vw;
  background-color: #000000;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;

  & img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }

  & div {
   display: flex;
   justify-content: center;
   flex-direction: column;
   z-index: 9;
   padding-left: 10vw;

   & h1 {
    font-family: BreeSerif;
    font-size: 5vw;
    font-weight: 900;
    line-height: 1;
    width: 65%;
  }
   & p {
    width: 100%;
    font-size: 1vw;
    width: 65%;
    
   }
  }
}

.contenedor-antes-chile {
  height: 100%;
}

.antes-chile {
  height: 10vw;
  background-color: var(--red);
  z-index: 2;
  position: relative;
  box-shadow: 0.1vw 0.1vw 2vw rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;


  & h1 {
    color: #780618;
    font: 900 3vw BreeSerif;
    line-height: 1;
    width: 20%;
  }

  & p {
    font: 300 1vw Roboto;
    color: white;
    width: 35%;
  }

  & img {
    height: 150%;
    position: relative;
    top: -25%;
  }
}

.mapa-antes-chile {
  height: 40vw;
  background-color: #f6d2d6;
  box-shadow: 0.1vw 0.1vw 2vw rgba(0,0,0,0.50) inset;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;

  & svg {
    position: absolute;
    top: -55%;
    height: 60vw;
    z-index: 0;
    transition: 0.2s ease;
  }
}

.descripcion-mapa-chile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20vw;
  padding: 2vw;
  position: absolute;
  top: 30%;
  background-color: var(--red);
  right: 15%;
  color: white;

  & h1 {
    font: 300 2vw Roboto;
  }

  & p {
    font-size: 0.9vw;
  }
}

#mapa_lickanantay:hover {
  fill: var(--yellow);
  stroke: white;
}

#mapa_selknam:hover {
  fill: white;
}

.geomorfologia-chile {
  height: 40vw;
  background-color: var(--red);
  display: flex;
}

.descripcion-geomorfologia {
  height: 100%;
  width: 60vw;
}

.mapa-geomorfologia {
  height: 100%;
  width: 40vw;
  background-color: #f6d2d6;
  box-shadow: 0.1vw 0.1vw 2vw rgba(0,0,0,0.50) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & svg {
    height: 100%;
  }
}