:root {
    --periodopagina : #252525;

    --primarycolor : #e92a41;
    --secondarycolor : #c72437;
    --tertiarycolor : #f6d2d6;

    --color : white;
}

.bg-1 {
    background-color: var(--primarycolor);
}

.bg-2 {
    background-color: var(--secondarycolor);
}

.bg-3 {
    background-color: var(--tertiarycolor);
    color: var(--primarycolor);
}

.explicacion-1 {
    position: relative;
}

.fondo-geo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.contenedor-lenguetas {
    display: flex;
    justify-content: center;
    width: auto;
    z-index: 0;
    gap: 0.5rem;
    height: 60px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    overflow: hidden;
}

.lengueta-vertical {
    width: 100%;
    height: 50px;
    background-color: var(--periodopagina);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    font:  1rem Roboto;
    user-select: none;
    cursor: pointer;
    transition: .2s ease;
}

.lengueta-vertical:hover {
    filter: brightness(120%);
}

.lengueta-vertical:active {
    transform: translateY(-5px);
}

.lengueta-vertical.active {
    height: 55px;
    filter: brightness(120%);
}

.lengueta-vertical img {
    width: 100%;
}

#geomorfologia {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    display: none;
    padding: 1rem;
    position: relative;
    transition: 0.5s ease;
}

#geomorfologia.active {
    display: flex;
}

.mapa-interno {
    align-items: flex-end;  
    justify-content: center;
    height: 600px;
    width: 600px;
    box-shadow: 0.2rem 0.2rem 1rem rgb(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

#mapa-chile-pueblos {
    height: 150%;
    width: auto;
    position: absolute;
}

.contenedor-geomorfologia {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

.contenedor-geomorfologia .carta {
    width: auto;
    background-color: var(--primarycolor);
    color: white;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 0.2rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    outline: 1px solid rgb(246, 210, 214, 0.5);
    transition: 0.2s ease;
    cursor: pointer;
    user-select: none;
}

.contenedor-geomorfologia .carta::before {
    content: "";
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .2s ease;
}

.carta-brillo::after {
    content: "";
    background: linear-gradient(90deg, rgba(119,119,119,0) 0%, rgba(255,255,255,0.8) 50%, rgba(119,119,119,0) 100%);
    mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    transform: rotate(30deg);
    width: 50%;
    height: 250%;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    transition: .2s ease;
    animation-direction: normal;
    animation: brillo-carta 5s infinite linear;
}

@keyframes brillo-carta {
    0% {
        left: -100%;
    }
    25% {
        left: 150%;
    }
    100% {
        left: 150%;
    }
}

.contenedor-geomorfologia .carta h1 {
    font: 600 1.5rem BreeSerif;
    margin: 0;
    z-index: 2;
}

.contenedor-geomorfologia .carta p {
    font: 300 1rem Roboto;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.contenedor-geomorfologia .carta img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    z-index: 0;
} 

.contenedor-geomorfologia .carta:hover {
    outline: 1px solid rgb(246, 210, 214, 0.75);
    scale: 1.035;
}

.contenedor-geomorfologia .carta:active {
    scale: 1;
}

.contenedor-geomorfologia .carta:hover::before{
    background: rgb(0, 0, 0, 0.35);
}

.chile-antes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: white;
    max-width: 400px;
    height: auto;
    background-color: var(--primarycolor);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
}

.chile-antes h1 {
    font: 900 2.5rem BreeSerif;
    color: black;
    opacity: 0.35;
    line-height: 1;
}

#pueblos-originarios {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    display: none;
    padding: 1rem;
    position: relative;
    opacity: 1;
}

#pueblos-originarios.active {
    display: flex;
}

.contenedor-pueblos {
    display: flex;
    width: 400px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.carta-pueblo {
    width: 100px;
    height: 100px;
    background-color: var(--primarycolor);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease, outline-offset 0.1s linear ;
    user-select: none;
    position: relative;
    cursor: pointer;
    outline-offset: 0;
    outline: 1px solid rgb(246, 210, 214, 0.75);
    overflow: hidden;
}

.carta-pueblo:hover {
    scale: 1.05;
    outline-offset: 5px;
    outline: 1px solid white;
}

.carta-pueblo::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
}

.carta-pueblo::after {
    content: "";
    background: linear-gradient(90deg, rgba(119,119,119,0) 0%, rgba(255,255,255,0.8) 50%, rgba(119,119,119,0) 100%);
    mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    transform: rotate(30deg);
    width: 50%;
    height: 250%;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    transition: .2s ease;
    animation-direction: normal;
    animation: brillo-carta 5s infinite linear;
}

.text-outline {
    text-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5), 2px -2px 0 rgb(0, 0, 0, 0.5), -2px 2px 0 rgb(0, 0, 0, 0.5), -2px -2px 0 rgb(0, 0, 0, 0.5), 2px 0px 0 rgb(0, 0, 0, 0.5), 0px 2px 0 rgb(0, 0, 0, 0.5), -2px 0px 0 rgb(0, 0, 0, 0.5), 0px -2px 0 rgb(0, 0, 0, 0.5), 2px 2px 2px rgba(0,0,0,0);
}

.carta-pueblo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.carta-pueblo h1 {
    font: 300 1rem BreeSerif;
    position: absolute;
    transition: .2s ease;
    text-shadow: .2rem .2rem .5rem rgb(0, 0, 0, 1);
}

.mapa_pueblo {
    transition: 0.3s ease;
}

.mapa_pueblo:hover {
    fill: yellow;
}

.mapa_pueblo:hover * {
    fill: yellow !important;
}

.exp4 {
    gap: 0.2rem;
}

.exp4 h1 {
    font: 900 2.5rem BreeSerif;
    color: var(--tertiarycolor);
    opacity: 1;
    line-height: 1;
    margin: 1rem 0 2rem 0 ;
    text-align: center;
}

.contenedor-teorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.teoria {
    background-color: #fd2e46;
    -webkit-backdrop-filter: blur(15px); /* Para compatibilidad con Safari */
    backdrop-filter: blur(15px);
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    padding: 2rem;
    max-width: 350px;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.teoria h1 {
    font: 900 2rem BreeSerif;
    color: black;
    opacity: 0.35;
    line-height: 1;
    margin: 0;
    text-align: left;
}

.teoria p {
    font: 300 1rem Roboto;
    color: white;
    margin: 0;
    
}

.nota-profesor {
    background-color: var(--periodopagina);
    border: 1px solid rgb(246, 210, 214, 0.75);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
}

.nota-profesor::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.nota-profesor h1 {
    color: black;
    opacity: 0.35;
    margin: 0;
    text-align: left;
    width: min-content;
    z-index: 1;
}

.nota-profesor p {
    margin: 0;
    max-width: 800px;
    z-index: 1;
}

.explicacion-inca {
    display: flex;
    justify-content: center;
    overflow: clip;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.carta-nacion {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: #e92a41;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    border-radius: 1rem;
    padding: 1rem;
}

.contenedor-explicacion-inca {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    color: white;
}

.explicacion-inca-1 {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    background: rgba(233, 42, 64, 0.658);
}

.explicacion-inca-1 p {
    width: 100%;
}

.explicacion-inca-1 h1 {
    margin: 0;
    font: 900 2rem BreeSerif;
    opacity: 0.5;
    color: white;
}

.explicacion-inca-2 {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1100px;
    padding: 2rem;
    position: relative;
    background: url("/img/moderna/descubrimiento-chile/Machu_Picchu\,_Perú\,_2015-07-30\,_DD_50\ \(2\).webp");
    background-size: cover;
}

.contenedor-mapa-imperioinca {
    min-width: 500px;
    flex: 1;
    height: 700px;
    object-fit: cover;
    object-position: center;
    padding: 2rem;
}

.mapa-inca {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--secondarycolor);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5);
    position: relative;
}

#pais-inca {
    background: rgba(233, 42, 64, 0.658);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
}

.paso-conquista {
    height: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 2rem;
}

.paso-conquista img {
    max-width: 1000px;
    position: absolute;
    bottom: -35%;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0, 0.75));
    pointer-events: none;
}

.paso-conquista span {
    z-index: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

.paso-conquista span:hover {
    background-color: var(--secondarycolor);
    z-index: 1;
}

.paso-conquista h1 {
    font: 900 8rem BreeSerif;
    max-width: 1200px;
    color: var(--tertiarycolor);
    opacity: 0.5;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 0;
}

.contenedor-conquista-1 {
    display: flex;
}

@media screen and (max-width: 700px) {

    .mapa-interno {
        height: 400px;
    }

    .contenedor-lenguetas {
        position: sticky;
        top: 0;
        z-index: 9;
        
    }

    .lengueta-vertical {
        font-size: 0.8rem;
    }

    #origen-palabra p{
        font-size: 0.8rem;
    }

    .explicacion-inca-2 {
        padding: 1rem;
    }

    .explicacion-inca-2 p {
        font-size: .8rem;
    }

    .contenedor-explicacion-inca {
        flex-wrap: wrap;
    }

    .contenedor-mapa-imperioinca {
        min-width: 100%;
        max-height: 500px;
    }

    .paso-conquista {
        height: 450px;
    }

    .paso-conquista h1 {
        font-size: 3rem;
    }

    .paso-conquista img {
        max-width: 500px;
        min-width: 100%;
        bottom: 0;
    }
    
}