:root {
    --periodopagina : #252525;

    --primarycolor : #e92a41;
        --secondarycolor : #c72437;
    --tertiarycolor : #f6d2d6;
    --quaternarycolor : #a11a2a;

    --alternativ: #9e1b2b;

    --fondopagina: #c72437;

    --color : white;
}

.bg-1 {
    background-color: var(--primarycolor);
}

.bg-2 {
    background-color: var(--secondarycolor);
}

.bg-3 {
    background-color: var(--tertiarycolor);
    color: var(--primarycolor);
}

.explicacion-1 {
    position: relative;
}

.fondo-geo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

h1 {
    font-family: BreeSerif;
}

.contenedor-lenguetas {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 0;
    gap: 0.5rem;
    height: 60px;
    position: relative;
    overflow: hidden;
    padding: 0 0.5rem;
}

.lengueta-vertical {
    width: 100%;
    height: 50px;
    background-color: var(--periodopagina);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    font:  1rem Roboto;
    user-select: none;
    cursor: pointer;
    transition: .2s ease;
}

.lengueta-vertical:hover {
    filter: brightness(120%);
}

.lengueta-vertical:active {
    transform: translateY(-5px);
}

.lengueta-vertical.active {
    height: 55px;
    filter: brightness(120%);
}

.lengueta-vertical img {
    width: 100%;
}

#geomorfologia {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    display: none;
    padding: 1rem;
    position: relative;
    transition: 0.5s ease;
}

#geomorfologia.active {
    display: flex;
}

.mapa-interno {
    align-items: flex-end;  
    justify-content: center;
    height: 600px;
    width: 600px;
    box-shadow: 0.2rem 0.2rem 1rem rgb(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

#mapa-chile-pueblos {
    height: 150%;
    width: auto;
    position: absolute;
}

.contenedor-geomorfologia {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

.contenedor-geomorfologia .carta {
    width: auto;
    background-color: var(--primarycolor);
    color: white;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 0.2rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    outline: 1px solid rgb(246, 210, 214, 0.5);
    transition: 0.2s ease;
    cursor: pointer;
    user-select: none;
}

.contenedor-geomorfologia .carta::before {
    content: "";
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .2s ease;
}

.carta-brillo::after {
    content: "";
    background: linear-gradient(90deg, rgba(119,119,119,0) 0%, rgba(255,255,255,0.8) 50%, rgba(119,119,119,0) 100%);
    mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    transform: rotate(30deg);
    width: 50%;
    height: 250%;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    transition: .2s ease;
    animation-direction: normal;
    animation: brillo-carta 5s infinite linear;
}

@keyframes brillo-carta {
    0% {
        left: -100%;
    }
    25% {
        left: 150%;
    }
    100% {
        left: 150%;
    }
}

.contenedor-geomorfologia .carta h1 {
    font: 600 1.5rem BreeSerif;
    margin: 0;
    z-index: 2;
}

.contenedor-geomorfologia .carta p {
    font: 300 1rem Roboto;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.contenedor-geomorfologia .carta img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    z-index: 0;
} 

.contenedor-geomorfologia .carta:hover {
    outline: 1px solid rgb(246, 210, 214, 0.75);
    scale: 1.035;
}

.contenedor-geomorfologia .carta:active {
    scale: 1;
}

.contenedor-geomorfologia .carta:hover::before{
    background: rgb(0, 0, 0, 0.35);
}

.chile-antes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: white;
    max-width: 400px;
    height: auto;
    background-color: var(--primarycolor);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
}

.chile-antes h1 {
    font: 900 2.5rem BreeSerif;
    color: black;
    opacity: 0.35;
    line-height: 1;
}

#pueblos-originarios {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    display: none;
    padding: 1rem;
    position: relative;
    opacity: 1;
}

#pueblos-originarios.active {
    display: flex;
}

.contenedor-pueblos {
    display: flex;
    width: 400px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.carta-pueblo {
    width: 100px;
    height: 100px;
    background-color: var(--primarycolor);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease, outline-offset 0.1s linear ;
    user-select: none;
    position: relative;
    cursor: pointer;
    outline-offset: 0;
    outline: 1px solid rgb(246, 210, 214, 0.75);
    overflow: hidden;
}

.carta-pueblo:hover {
    scale: 1.05;
    outline-offset: 5px;
    outline: 1px solid white;
}

.carta-pueblo::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
}

.carta-pueblo::after {
    content: "";
    background: linear-gradient(90deg, rgba(119,119,119,0) 0%, rgba(255,255,255,0.8) 50%, rgba(119,119,119,0) 100%);
    mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    transform: rotate(30deg);
    width: 50%;
    height: 250%;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    transition: .2s ease;
    animation-direction: normal;
    animation: brillo-carta 5s infinite linear;
}

.text-outline {
    text-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5), 2px -2px 0 rgb(0, 0, 0, 0.5), -2px 2px 0 rgb(0, 0, 0, 0.5), -2px -2px 0 rgb(0, 0, 0, 0.5), 2px 0px 0 rgb(0, 0, 0, 0.5), 0px 2px 0 rgb(0, 0, 0, 0.5), -2px 0px 0 rgb(0, 0, 0, 0.5), 0px -2px 0 rgb(0, 0, 0, 0.5), 2px 2px 2px rgba(0,0,0,0);
}

.carta-pueblo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.carta-pueblo h1 {
    font: 300 1rem BreeSerif;
    position: absolute;
    transition: .2s ease;
    text-shadow: .2rem .2rem .5rem rgb(0, 0, 0, 1);
}

.mapa_pueblo {
    transition: 0.3s ease;
}

.mapa_pueblo:hover {
    fill: yellow;
}

.mapa_pueblo:hover * {
    fill: yellow !important;
}

.exp4 {
    gap: 0.2rem;
}

.exp4 h1 {
    font: 900 2.5rem BreeSerif;
    color: var(--tertiarycolor);
    opacity: 1;
    line-height: 1;
    margin: 1rem 0 2rem 0 ;
    text-align: center;
}

.contenedor-teorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.teoria {
    background-color: #fd2e46;
    -webkit-backdrop-filter: blur(15px); /* Para compatibilidad con Safari */
    backdrop-filter: blur(15px);
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    padding: 2rem;
    max-width: 350px;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.teoria h1 {
    font: 900 2rem BreeSerif;
    color: black;
    opacity: 0.35;
    line-height: 1;
    margin: 0;
    text-align: left;
}

.teoria p {
    font: 300 1rem Roboto;
    color: white;
    margin: 0;
    
}

.nota-profesor {
    background-color: var(--periodopagina);
    border: 1px solid rgb(246, 210, 214, 0.75);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
}

.nota-profesor::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.nota-profesor h1 {
    color: black;
    opacity: 0.35;
    margin: 0;
    text-align: left;
    width: min-content;
    z-index: 1;
}

.nota-profesor p {
    margin: 0;
    max-width: 800px;
    z-index: 1;
}

.explicacion-inca {
    display: flex;
    justify-content: center;
    overflow: clip;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.carta-nacion {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: #e92a41;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    border-radius: 1rem;
    padding: 1rem;
}

.contenedor-explicacion-inca {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    color: white;
}

.explicacion-inca-1 {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    background: rgba(233, 42, 64, 0.658);
}

.explicacion-inca-1 p {
    width: 100%;
}

.explicacion-inca-1 h1 {
    margin: 0;
    font: 900 2rem BreeSerif;
    opacity: 0.5;
    color: white;
}

.explicacion-inca-2 {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1100px;
    padding: 2rem;
    position: relative;
    background: url("/img/moderna/descubrimiento-chile/Machu_Picchu\,_Perú\,_2015-07-30\,_DD_50\ \(2\).webp");
    background-size: cover;
}

.contenedor-mapa-imperioinca {
    min-width: 500px;
    flex: 1;
    height: 700px;
    object-fit: cover;
    object-position: center;
    padding: 2rem;
}

.mapa-inca {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--secondarycolor);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5);
    position: relative;
}

#pais-inca {
    background: rgba(233, 42, 64, 0.658);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
}

.paso-conquista {
    height: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 2rem;
    view-timeline-name: --reveal;
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.paso-conquista img {
    max-width: 1000px;
    position: absolute;
    bottom: -35%;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0, 0.75));
    pointer-events: none;
}

.paso-conquista span {
    z-index: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

.paso-conquista span:hover {
    background-color: var(--secondarycolor);
    z-index: 1;
}

.paso-conquista h1 {
    font: 900 8rem BreeSerif;
    max-width: 1200px;
    color: var(--tertiarycolor);
    opacity: 0.5;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 0;
}

.inicio-conquista {
    padding: 0;
    min-height: 300px; 
    height: auto;
    gap: 0;
    justify-content: center;
    position: relative;
    z-index: 9;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
}

.contenedor-conquista-1 {   
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    margin: 2rem;
}

.contenedor-conquista-1 p {
    max-width: 400px;
}

.contenedor-conquista-1 h1 {
    min-width: 250px;
}

.contenedor-conquista-2 {   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.contenedor-conquista-2 button {
    background-color: var(--primarycolor);
    color: rgb(255, 255, 255, 0.75);
    border: 1px solid rgb(246, 210, 214, 0.5);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font: 600 1rem Roboto;
    cursor: pointer;
    box-shadow: .3rem .3rem .6rem rgba(0, 0, 0, 0.35), 
    -.2rem -.2rem .5rem rgb(255, 255, 255, 0.2);
    transition: .2s ease;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.contenedor-conquista-2 button::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(119,119,119,0) 0%, rgba(255,255,255,0.3) 50%, rgba(119,119,119,0) 100%);
    mask-image: linear-gradient(120deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    animation: brillo-boton 5s infinite linear;
}



@keyframes brillo-boton {
    0% {
        left: -100%;
    }
    25% {
        left: 150%;
    }
    100% {
        left: 150%;
    }
    
}

.contenedor-conquista-2 button:hover {
    color: rgb(255, 255, 255, 1);
    animation-play-state: paused;
    scale: 1;
}

.contenedor-conquista-2 button:active {
    box-shadow: inset .2rem .2rem .5rem rgb(0, 0, 0, 0.35), 
    inset -.2rem -.2rem .2rem rgb(255, 255, 255, 0.2);
}

.contenedor-descubrimiento-conquista {
    position: relative;
    height: auto;
}

.contenedor-conquista-2 p {
    max-width: 250px;
    text-align: center;
    margin: 0;
}

.inicio-conquista-2 {
    height: 600px;
    position: relative;
    overflow: hidden;
    display: none;
}

.inicio-conquista-2.active {
    display: block;
}

.inicio-conquista-2.activo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999999999999999999999;
}

.inicio-conquista-2::after {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1rem rgb(0, 0, 0, 0.75);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.inicio-conquista-2 iframe {
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: clip;
}

.conquista-america {
    height: 600px;
    position: relative;
    display: none;
}

.conquista-america.active {
    display: block;
}

.explicacion-conquista-america {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    view-timeline-name: --reveal;
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 20% cover 30%;
}



.conquista-america-1 {
    background-color: #e92a41;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    max-width: 600px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.conquista-america-1 span {
    padding: 0 2rem 0 2rem; 
    text-align: center;
}

.conquista-america-1 h1 {
    font: 900 2.5rem BreeSerif;
    color: white;
    opacity: 0.5;
    line-height: 1;
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 1rem;
}

.conquista-america-1 p {
    padding: 0 2rem 0 2rem;
    margin-bottom: 1rem;
}

.conquista-america-1 .contenedor-botones {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    margin-bottom: 1rem;
}

.conquista-america-1 .contenedor-botones span {
    padding: 0;
}

.conquista-america-1 .contenedor-botones button img:first-child {
    width: 50px;
    position: absolute;
    right: 0;
    filter: invert(1);
    opacity: 0;
    transition: 0.2s ease;
}

.conquista-america-1 .contenedor-botones button:hover img:first-child {
    opacity: 0.35;
}

.conquista-america-1 .contenedor-botones button img:nth-child(2) {
    width: 50px;
    position: absolute;
    filter: invert(0.1);
    left: 0;
    opacity: 0.35;
    transition: 0.2s ease;
}

.conquista-america-1 .contenedor-botones button:hover img:nth-child(2) {
    opacity: 0;
}

.conquista-america-1 .arrow-down {
    display: none;
}

.conquista-america-1 .contenedor-img-3 img {
    object-position: 0 -50px;
}

.conquista-america-2 {
    padding: 1rem;
    background-color: #e92a41;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    height: 600px;
    padding: 2rem;
}

.conquista-america-2 h1 {
    font: 900 2.5rem BreeSerif;;
    color: white;
    opacity: 0.5;
    line-height: 1;
    margin: 0;
}


.conquista-america-2 .conquistadores {
    background-color: var(--tertiarycolor);
    color: var(--secondarycolor);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    width: 100%;
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

.descripcion-conquistadores {
    display: flex;
    flex-direction: column;
}

.conquista-america-2 .conquistadores h1 {
    font: 900 2rem BreeSerif;
    color: var(--secondarycolor);
    opacity: 0.5;
    line-height: 1;
    margin-bottom: 0.5rem;
    padding: 1rem 1rem 0rem 1rem;
}

.descripcion-conquistadores p {
    font: 300 0.9rem Roboto;
    color: var(--secondarycolor);
    margin: 0;
    position: relative;
    z-index: 9;
    padding: 0rem 1rem 0rem 1rem;
}

.conquistadores .contenedor-img-1 {
    height: 100%;
    min-width: 200px;
    width: 200px;
}

.conquista-america-3 {
    padding: 1rem;
    background-color: #e92a41;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    width: 600px;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.conquista-america-3 object {
    width: 100%;
    scale: 1.2;
    bottom: 0;
    left: -15%;
    position: absolute;
}

#india-america {
    width: 150px;
    background-color: rgb(233, 195, 26);
    color: var(--quaternarycolor);
    border-color: var(--quaternarycolor);
    transition: background-color 0.5s ease, scale 0.2s ease;
}

.expedicion-magallanes {
    display: flex;
    background-color: var(--primarycolor);
    color: white;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    width: auto;
    max-height: auto;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0rem 2rem 1rem 2rem;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 600px;
}

.magallanes-explicacion {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    z-index: 9;
    padding: 3rem;
}

.magallanes-explicacion h1 {
    font: 900 3rem BreeSerif;
    color: white;
    opacity: 0.5;
    line-height: 1;
    margin-bottom: 1rem;
   
}

.magallanes-explicacion p {
    font: 300 1rem Roboto;
    color: white;
    
}

.magallanes-explicacion-2 {
    display: flex;
    gap: 0.5rem;
    min-height: 150px;
    justify-content: center;
    align-items: center;
}

.magallanes-explicacion-2 p {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    background:  rgba(233, 42, 64, 0.473);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin: 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
    min-height: 150px;
}

.magallanes-explicacion-2 img {
    height: 150px;
    border-radius: 1rem;
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
}

.magallanes-explicacion-4 {
    z-index: 1;
    max-width: 600px;
    padding: 3rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.magallanes-explicacion-4 p {
    font: 300 1rem Roboto;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin: 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
    min-height: 150px;
}

.magallanes-explicacion-5 {
    display: flex;
    justify-self: end;
}

.magallanes-explicacion-5 img {
    position: relative;
    z-index: 9;
    width: 50%;
    align-self: end;
    transition: 0.2s ease;
}

.magallanes-explicacion-5 img:hover {
    scale: 1.05;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0, 0.5)); 
}

.magallanes-explicacion-5 img:first-child:hover {
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0, 0.5)) grayscale(1);
}

.expedicion-magallanes-fondo {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    bottom: 0px;
    right: 0;
    opacity: 1;
    pointer-events: none;
}

.magallanes-mapa {
    min-width: 400px;
    width: 500px;
    height: 500px;
    margin: 2rem;
    z-index: 9;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(246, 210, 214, 0.75);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    background: rgba(82, 172, 224, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5);
    align-self: center;
}

.magallanes-mapa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0rem solid rgb(255, 255, 255, 0.2);
    z-index: 9;
    transition: 0.2s ease;
    cursor: pointer;
}

.magallanes-mapa:hover::before  {
    border: 0.5rem solid rgb(255, 255, 255, 0.2);
}

.magallanes-mapa object {
    height: 100%;
}

.expedicion-magallanes::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.35);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.conquista-chile {
    view-timeline-name: --reveal;
    animation-name: slide-up;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
    margin: 1rem 2rem 1rem 2rem;
}

.expedicion-chile {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 0;
    position: relative;
    justify-content: center;
}

.capsula-descriptiva {
    background-color: var(--primarycolor);
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    min-width: 600px;
    flex: 1;
    min-height: 600px;
    max-width: 1300px;
    display: flex;
    position: relative;
    overflow: hidden;
}



.capsula-descriptiva::before {
    content: "";
    background: var(--background-image);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 0;
}

.capsula-descriptiva-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 2.5rem;
}

.capsula-descriptiva-1 h1 {
    font: 900 2.5rem BreeSerif;
    line-height: 1;
}

.capsula-descriptiva-1 p {
    margin: 0;
}

.capsula-descriptiva-1 ul {
    font: 900 1rem Roboto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.capsula-descriptiva-1 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.capsula-descriptiva-1 li img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background-color: var(--red);
    padding: 0.5rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
    transition: 0.2s ease;
}

.capsula-descriptiva-1 li img:hover {
    scale: 1.1;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5);
}

.capsula-descriptiva-1 span:nth-child(4) {
    font: 900 1.5rem BreeSerif;
}

.capsula-descriptiva-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: end;
    align-items: center;
}

.capsula-descriptiva-2 img {
    width: 60%;
    transform: rotateY(-180deg);
}

.container-fundacion-santiago {
    min-height: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
}

.container-fundacion-santiago::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-fundacion-santiago .fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 35%;
    position: absolute;
    z-index: -2;
}

.container-fundacion-santiago .capsula-1 {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.container-fundacion-santiago .capsula-1 h1 {
    width: 400px;
    line-height: 1;
    font-weight: 900;
    font-size: 3rem;
}

.container-fundacion-santiago .capsula-1 p {
    width: 400px;
}

.contenedor-fundacion-santiago {
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.35);
}

.contenedor-fundacion-santiago::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenedor-fundacion-santiago .fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 35%;
    position: absolute;
    z-index: -2;
}

.contenedor-fundacion-santiago .capsula-1 {
    max-width: 500px;
    align-items: center;
    padding: 4rem;
    flex: 1;
}

.contenedor-fundacion-santiago .capsula-1 h1 {
    line-height: 1;
    font-weight: 900;
    font-size: 3rem;
}

.contenedor-fundacion-santiago .capsula-2 {
    padding: 1rem;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
}

.contenedor-fundacion-santiago .capsula-2 h1 {
    font-weight: 900;
    line-height: 1;
}

.contenedor-arauco {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    background-color: #232323;
    z-index: 2;
    position: relative;
}

.contenedor-arauco h1 {
    font: 900 2.5rem BreeSerif;
    line-height: 1;
}

.contenedor-arauco p {
    max-width: 500px;
}

.explicacion-guerra-arauco {
    min-height: 700px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.explicacion-guerra-arauco::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: inset 0 0 1rem rgb(0, 0, 0, 0.5);
    pointer-events: none;
}

.contenedor-guerra-arauco {
    min-height: 600px;
    width: 600px;
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../../../img/moderna/descubrimiento-chile/vueltademalon.webp);
    background-position: center;
}

.contenedor-guerra-arauco::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.contenedor-tipo-guerra {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.contenedor-tipo-guerra .tipo-guerra {
    height: 350px;
    max-width: 300px;
    padding: 1rem;
    background-color: var(--backgroundColor);
    backdrop-filter: blur(15px);
    min-width: 100px;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255, 0.2);
}

.contenedor-tipo-guerra .tipo-guerra span {
    background-color: #e92a41;
    width: 100%;
    height: 100%;
}

.contenedor-tipo-guerra .tipo-guerra h1 {
    font: 900 2rem BreeSerif;
    line-height: 1;
}

.contendientes-guerra-arauco {
    width: 100%;
    height: auto;
    background-color: #232323;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    z-index: 0;
}

.etapas-guerra-arauco {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    margin: 0;
}

.etapas-guerra-arauco h1 {
    font: 900 2rem BreeSerif;
    line-height: 1;
}

.etapas-guerra-arauco p {
    max-width: 600px;
    margin: 0;
    text-align: center;
}

.contendientes-guerra-arauco .contendiente {
    flex: 1;
    min-width: 300px;
    width: 100%;
    height: 100px;
    background-image: var(--backgroundImage);
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255, 0.5);
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.contendientes-guerra-arauco .contendiente:hover {
    scale: 1.025;
}

.contendientes-guerra-arauco .contendiente:active {
    scale: 1;
}

.contendientes-guerra-arauco .contendiente h1 {
    max-width: 100px;
    font: 900 2rem BreeSerif;
    line-height: 1;
    margin: 0;
}

.mapa-guerra-arauco {
    background-color: var(--fondopagina);
    min-height: 600px;
    min-width: 300px;
    flex: 1;
    
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale-up {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 700px) {



    .mapa-interno {
        height: 400px;
    }

    .contenedor-lenguetas {
        position: sticky;
        top: 0;
        z-index: 9;   
    }

    .lengueta-vertical {
        font-size: 0.8rem;
    }

    #origen-palabra p{
        font-size: 0.8rem;
    }

    .explicacion-inca-2 {
        padding: 1rem;
    }

    .explicacion-inca-2 p {
        font-size: .8rem;
    }

    .contenedor-explicacion-inca {
        flex-wrap: wrap;
    }

    .contenedor-mapa-imperioinca {
        min-width: 100%;
        max-height: 500px;
    }

    .paso-conquista {
        height: 450px;
    }

    .paso-conquista h1 {
        font-size: 3rem;
    }

    .paso-conquista img {
        max-width: 500px;
        min-width: 100%;
        bottom: 0;
    }

    .contenedor-conquista-1 h1 {
        font-size: 2rem;
    }

    .contenedor-conquista-1 {
        margin-bottom: 0;
    }

    .inicio-conquista {
        justify-content: center;
    }

    .mapa-descubrimiento-america {
        height: 400px;
    }
    
    .explicacion-conquista-america {
        font-size: 0.8rem;
    }

    .explicacion-conquista-america h1 {
        font-size: 2rem;
    }

    .explicacion-conquista-america button {
        font-size: 0.8rem;
    }

    .conquista-america-1 .contenedor-botones {
        flex-direction: column;
    }

    .conquista-america-1 .arrow-down {
        display: block;
    }

    .conquista-america-1 .arrow-right {
        display: none;
    }

    .conquista-america-2 {
        height: auto;
        padding: 1.5rem;
    }

    .conquista-america-2 p {
        margin: 0;
    }

    .conquista-america-2 div h1 {
        font-size: 1.5rem;
    }

    .conquistadores {
        flex-direction: column;
    }

    .descripcion-conquistadores p {
        font-size: 0.8rem;
    }

    .conquistadores .contenedor-img-1 {
        position: relative;
        height: 10%;
        width: 100%;
        mask-image: linear-gradient(to bottom, transparent 10%, black 50%);
    }

    .conquistadores .contenedor-img-1 img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .expedicion-magallanes {
        margin: 1rem 1rem;
        margin-top: 0;
    }

    .expedicion-magallanes h1 {
        font: 900 2rem BreeSerif;
        color: white;
        opacity: 0.5;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    .expedicion-magallanes p {
        font-size: 0.8rem;
    }

    .magallanes-mapa {
        min-width: auto;
        height: 400px;
        margin: 1rem;
    }

    .magallanes-explicacion {
        padding: 2rem;
        padding-bottom: 0.5rem;
    }

    .magallanes-explicacion-4 {
        padding: 0 1rem 0 1rem;
    }

    .conquista-chile {
        margin: 0 1rem 0rem 1rem;
    }

    .expedicion-chile {
        padding: 1rem;
    }

    .capsula-descriptiva {
        min-width: 100%;
        flex-direction: column;
    }

    .capsula-descriptiva p {
        font-size: 0.8rem;
    }

    .capsula-descriptiva h1 {
        font-size: 2rem;
    }

    .capsula-descriptiva span:nth-child(4) {
        font-size: 1rem;
    }

    .contenedor-fundacion-santiago {
        justify-content: center;
        min-height: 800px;
        height: auto;
    }

    .contenedor-fundacion-santiago .capsula-1 {
        padding: 1rem;
        width: 100%;
    }

    .contenedor-fundacion-santiago .capsula-2 {
        padding: 1rem;
        width: auto;
        margin: 0 1rem 0 1rem;
        border-radius: 1rem 1rem 0 0;
        align-self: end;
    }

    .explicacion-guerra-arauco h1 {
        font-size: 1.5rem;
    }

    .explicacion-guerra-arauco p {
        font-size: 0.9rem;
    }

    .explicacion-guerra-arauco .contendiente h1 {
        font-size: 1.5rem;
    }

    .contendientes-guerra-arauco h1 {
        font-size: 1.5rem;
    }

    .contenedor-tipo-guerra .tipo-guerra h1 {
        font-size: 1.5rem;
    }

    
}