:root {
    --blue: #1e90ff;
    --red2: #780618;
    --red: #e92a41;
    --yellow: #ffa218;
    --orange: #f86d31;
  }
@font-face {
    font-family: BreeSerif;
    src: url("/fonts/BreeSerif-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/RobotoSlab-Regular.ttf")
        format("truetype");
}

.tippy-tooltip {
    font-family: Roboto;
}

.tippy-tooltip.red-theme {
background-color: var(--red);
color: white;
}

.tippy-tooltip.red-theme[data-placement^='top'] .tippy-arrow {
border-top-color: var(--red);
}
.tippy-tooltip.red-theme[data-placement^='bottom'] .tippy-arrow {
border-bottom-color: var(--red);
}
.tippy-tooltip.red-theme[data-placement^='left'] .tippy-arrow {
border-left-color: var(--red);
}
.tippy-tooltip.red-theme[data-placement^='right'] .tippy-arrow {
border-right-color: var(--red);
}

.tippy-tooltip.green-theme {
background-color: #66a329;
color: white;
}

.tippy-tooltip.green-theme[data-placement^='top'] .tippy-arrow {
border-top-color: #66a329;
}
.tippy-tooltip.green-theme[data-placement^='bottom'] .tippy-arrow {
border-bottom-color: #66a329;
}
.tippy-tooltip.green-theme[data-placement^='left'] .tippy-arrow {
border-left-color: #66a329;
}
.tippy-tooltip.green-theme[data-placement^='right'] .tippy-arrow {
border-right-color: #66a329;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    background-color: #26979f;
}

#zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
    z-index: -1;
    display: flex;
    justify-content: center;
}
  
#zoom svg {
    height: 100vh;
    width: auto;
    scale: 1;
    user-select: none;
    transition: .5s ease-in-out;
}

.zoom_outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.container-selectores {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 0.5rem;
    user-select: none;
}

.selector-text {
    font-family: Roboto;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#aliados-usa {
    background-color: #1e73c9;
}

#aliados-urss {
    background-color: #d82f42;
}

.selector-ico {
    height: 40px;
    width: 40px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.selector-ico img {
    height: 100%;
}

#otan {
    background-color: #14518f;
}


#pactodevarsovia {
    background-color: #af1527;
}

.otan.active {
    fill: #14518f;
}

.varsovia.active {
    fill: #af1527;
}

.aliados-usa.active {
    fill: #1e73c9;
}

.aliados-urss.active {
    fill: #d82f42;
}

.usa {
    fill: #14518f !important; 
}

.urss {
    fill: #af1527 !important; 
}


#resetZoom {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #e92a41;
    border-radius: 50%;
    bottom: 70px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#resetZoom img {
    height: 80%;
    filter: invert(0);
    opacity: 0.35;
}

#boton-capas {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #e92a41;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#boton-capas:hover {
    background-color: #ffa218;
}
#boton-capas:active {
    background-color: #f86d31;
}

#boton-capas img {
    height: 80%;
    filter: invert(0);
    opacity: 0.35;
}

.container-capas-content {
    position: fixed;
    bottom: 70px;
    right: 10px;
    width: 200px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-capas-content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: BreeSerif;
    font-size: 1rem;
    color: #e92a41;
    margin: 0;
}

.container-capas-content-header h2 {
    margin: 0;
}

.container-capas-content-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-img-viewer {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    scale: 0;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    pointer-events: all;
    transition: opacity 0.5s ease;
    
}

.container-img-viewer.activo {
    opacity: 1;
    scale: 1;
}

.img-viewer {
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-viewer img {
    aspect-ratio: auto;
    width: auto;
    height: 100%;
}

.img-view {
    transition: 0.2s ease;
}

.img-view:hover {
    cursor: pointer;
    scale: 1.2;

}

.close-icon {
    position: absolute;
    margin: 1rem;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #e92a41;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.close-icon:hover {
    filter: brightness(110%);
}

.close-icon:active {
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    #zoom svg {
        scale: 3;
    }

    .contenedor-paises {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .pais {
        width: 150px;
        height: 75px;
        align-items: center;
        justify-content: center;
    }

    .pais img {
        height: 80%;
        bottom: 0;
    }

    .pais p {
        font-size: 0.5rem;
    }

    .pais h1 {
        font-size: 0.8rem;
    }

    .pais img {
        height: 80%;
        pointer-events: none;
    }

    .boton {
        font-size: 0.5rem;
    }

    .container-hechos-texto {
        width: 250px;
    }

    .container-hechos-texto .hecho-texto {
        font-size: 0.8rem;
    }

    .container-hecho-texto {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .container-hechos-texto h2 {
        font-size: 1rem;
    }

    .container-hecho-img {
        display: none;
    }
}