<div class="container-footer-1">
    <div class="footer-container footer-1">
        <div class="contenedor-logo-footer">
        <span><img class="logo" src="/svg/logo.svg"></span>
        </div>
        <div>
        <a target="_blank" href="https://www.instagram.com/algodehistoria.cl/"><span><img src="/icons/instagram.svg"></span></a>
        <a target="_blank" href="https://www.youtube.com/@algodehistoriaYT"><span><img src="/icons/mdi--youtube.svg"></span></a>
        <p>Pagina web interactiva para aprender Historia, Geografía y Ciencias Sociales</p>
        </div>
        
    </div>
    <div class="footer-container footer-2">
        <h1>Prehistoria</h1>
        <h1>Antiguedad</h1>
        <h1>Medieval</h1>
        <h1>Moderna</h1>
        <h1>Contemporanea</h1>
    </div>
    <div class="footer-container footer-3">
        <span>Artículo recomendado</span>
        <ul>
        <li class="card-articulo-recomendado" style="--fondo: url('/img/prehistoria/fondo.webp');">
            <div class="card-articulo-recomendado-texto" >
            <h1>PREHISTORIA</h1>
            <p>
                La prehistoria es el periodo más largo de la historia humana, abarcando desde la aparición de los primeros homínidos hasta la invención de la escritura.
            </p>
            <button><a href="/Articulos/Prehistoria/template.html">Ver más</a></button>
            
            </div>
            <div class="card-articulo-recomendado-img">
            <img src="/img/prehistoria/humano.webp" alt="">
            </div>
        </li>
        </ul>
    </div>
    </div>
    <div class="container-footer-2">
    <p>
        © 2025 Adrián Maturana.  
        Este sitio está licenciado bajo  
        <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><u> CC BY-NC-ND 4.0 (Atribución - No Comercial - Sin Derivadas)</u></a>.<br>
        Puedes compartir el contenido con fines educativos y sin modificaciones, siempre que menciones al autor y no tenga fines comerciales.<br>
    </p>
    </div>