:root {
    --blue: #1e90ff;
    --red2: #780618;
    --red: #e92a41;
    --yellow: #ffa218;
    --orange: #f86d31;
  }
  @font-face {
    font-family: BreeSerif;
    src: url("/fonts/BreeSerif-Regular.ttf")
      format("truetype");
  }
  
  @font-face {
    font-family: Roboto;
    src: url("/fonts/RobotoSlab-Regular.ttf")
      format("truetype");
  }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    background-color: #bdbdbd;
    
}

#zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
    z-index: -1;
    display: flex;
    justify-content: center;
}
  
#zoom svg {
    height: 100vh;
    width: auto;
}

.zoom_outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #e92a41;
    bottom: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.tripleeje {
    fill: #e92a41;
}

@media only screen and (max-width: 600px) {
    #zoom svg {
        scale: 3;
    }

    .contenedor-paises {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .pais {
        width: 150px;
        height: 75px;
        align-items: center;
        justify-content: center;
    }

    .pais img {
        height: 80%;
        bottom: 0;
    }

    .pais p {
        font-size: 0.5rem;
    }

    .pais h1 {
        font-size: 0.8rem;
    }

    .pais img {
        height: 80%;
        pointer-events: none;
    }

    .boton {
        font-size: 0.5rem;
    }
}