:root {
    --blue: #1e90ff;
    --red2: #780618;
    --red: #e92a41;
    --yellow: #ffa218;
    --orange: #f86d31;
    --green: #66a329;
  
    --prehistoria: #f86d31;
    --antigua: #30a5e8;
    --medieval: #f8b229;
    --moderna: #f11c35; 
    --contemporanea: #2e8b57; 
  
    --periodopagina : #252525;
  
    --primarycolor : #333333;
    --secondarycolor : #868686;
    --tertiarycolor : #252525;
}

.etiqueta-prehistoria {
  background-color: var(--prehistoria);
}

.etiqueta-antigua {
  background-color: var(--antigua);
}

.etiqueta-medieval {
  background-color: var(--medieval);
}

.etiqueta-moderna {
  background-color: var(--moderna);
}

.etiqueta-contemporanea {
  background-color: var(--contemporanea);
}

@font-face {
    font-family: BreeSerif;
    src: url("/fonts/BreeSerif-Regular.ttf")
      format("truetype");
  }
  
  @font-face {
    font-family: HatschSans;
    src: url("https://cdn.glitch.global/9a357997-c721-4619-8b51-c5bb42844312/HatschSans.otf?v=1679725680887")
      format("truetype");
  }
  
  @font-face {
    font-family: Roboto;
    src: url("/fonts/RobotoSlab-Regular.ttf")
      format("truetype");
  }

body {
    margin: 0;
}

.contenedor-mapa {
    height: 100dvh;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-inicio {
    position: fixed;
    top: 0;
    left: 3.5rem;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 1.5rem 0 0rem 0rem;
    transition: .2s ease;
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0.35;
}

.boton-inicio:hover {
    scale: 1.1;
    opacity: 1;
}

#abrir-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 2rem 0 0rem 0rem;
    transition: .2s ease;
    border-radius: 0 1rem 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #e92a41;
    opacity: 0.8;
}

#abrir-menu:hover {
    scale: 1.1;
    opacity: 1;
}

#abrir-menu img {
    height: 75%;
}

.contenedor-menu-mapa {
    height: 95%;
    width: 500px;
    left: -500px;
    margin: 1rem;
    opacity: 0;
    position: fixed;
    border-radius: 1rem;
    background-color: #e92a41;
    box-shadow: 0rem 0rem 2rem rgb(0, 0, 0, 0.35);
    overflow: auto;
    transition: opacity 0.2s ease, left 0.5s ease;
}

.contenedor-menu-mapa.active {
    left: 0;
    opacity: 1;
}

.header-menu {
    height: 60px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #e92a41;
    z-index: 9;
}

.header-menu a {
    height: 50px;
    width: 50px;
}

.header-menu h1 {
    color: white;
    font-family: BreeSerif;
    opacity: 0.5;
    font-size: 1.5rem;
    margin: 0;
}

.header-menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0.2rem;
    user-select: none;
    transition: .2s ease;
}

.header-menu span img {
    height: 2rem;
}

.header-menu span:hover {
    scale: 1.1;
    background-color: #c92437;
}

#mapa-seleccionado {
    height: 250px;
    overflow: hidden;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0rem 0rem 1rem rgb(0, 0, 0, 0.75);
}

#mapa-seleccionado::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.45;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#mapa-seleccionado img {
    width: 100%;
    height: 100%;
    position: relative;
    object-position: center;
    object-fit: cover;
}

.contenedor-descripcion {
    position: absolute;
    z-index: 1;
    color: white;
    padding: 1rem;
}

.contenedor-descripcion span {
    font: 300 0.8rem Roboto;
}

.contenedor-descripcion h1 {
    font-size: 1.5rem;
    font-family: BreeSerif;
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.contenedor-descripcion p {
    font-size: 1rem;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.contenedor-descripcion a {
    background-color: var(--red);
    color: white;
    text-decoration: none;
    font: 300 1rem Roboto;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin: 0;
    border-radius: 1rem;
}

.contenedor-mapas-interactivos {
    height: auto;
    width: auto;
    background-color: #c92437;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    box-shadow: inset 0rem 0rem 1rem rgb(0, 0, 0, 0.35);
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.buscador input {
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
    font: 300 1rem Roboto;
    color: white;
    background-color: #c92437;
    transition: 0.2s ease;
    outline: 1px solid transparent;
}

.buscador input:hover {
    filter: brightness(1.05);
}

.buscador input::placeholder {
    color: white;
    opacity: 0.5;
}

.buscador input:focus {
    outline: 1px solid #971b2a;
    box-shadow: inset 0rem 0rem 0.5rem rgb(0, 0, 0, 0.2);
}

.buscador select {
    background-color: #c92437;
    border: 0;
    color: white;
    padding: 0.5rem;
    font-family: Roboto;
}

.buscador select:hover {
    filter: brightness(1.05);
}

.buscador select:focus {
    outline: 1px solid #971b2a;
}

.buscador select option:hover {
    background-color: #971b2a;
}

.mapa {
    width: 150px;
    height: 150px;
    background-color: #e92a41;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0, 0.75);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease, outline 0.1s linear ;
    outline: 1px solid transparent;
    outline-offset: 0px;
    cursor: pointer;
    user-select: none;
}

.mapa::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.35;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.mapa::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.35;
    position: absolute;
    transition: 0.2s ease;
    top: 0;
    left: 0;
    z-index: 1;
}

.mapa:hover {
    scale: 1;
}

.mapa:hover::after {
    opacity: 0;
}

.mapa.active {
    scale: 1.05;
    outline: 1px solid white;
    outline-offset: 5px;
    transition: .2s ease, outline-offset 0.1s linear ;
}

.mapa.active::after {
    opacity: 0;
}

.mapa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mapa h1 {
    position: absolute;
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
    color: white;
    font-family: BreeSerif;
}

.contenedor-mapa-seleccionado {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .contenedor-menu-mapa {
        width: 90%;
        height: 90%;
        margin: 1rem;
    }

    .contenedor-descripcion h1 {
        font-size: 1rem;
    }

    .contenedor-descripcion p {
        font-size: 0.8rem;
    }

    .contenedor-descripcion a {
        font-size: 0.8rem;
    }
}